// Main
.main {
  margin-right: 70px;
  margin-left: 70px;

  @media (max-width: 767px) {
    margin-right: 30px;
    margin-left: 30px;
  }

  @media (max-width: 480px) {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 20px;
}

.main-wraper {
  display: flex;
  padding-bottom: 28px;
  border-bottom: 1px solid #000;

  @media (max-width: 926px) {
    flex-direction: column;
  }
}
